[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "zsh/tools/zgen"]
	path = zsh/tools/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "zsh/dockerfiles"]
	path = zsh/dockerfiles
	url = https://github.com/mildronize/dockerfiles
